<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spectra lapbook-pro</title>
    <link rel="stylesheet" href="../../bootstrap5/css/all.css">
    <link rel="stylesheet" href="../../public/styles/user/header.css">
    <link rel="stylesheet" href="../../public/styles/user/article.css">
    <link rel="stylesheet" href="../../public/styles/user/booking-form.css">
    <link rel="stylesheet" href="../../public/styles/user/footer.css">
</head>
<body>

    <main>

        <header>
            <nav>
                <label for="nav" class=".logo"><a href="./index.html">Spectra <span>lapbook pro</span></a></label>
                <ul>
                    <a href="./index.html">home</a>
                    <a href="./booking.html">book manual</a>
                    <a href="#">about</a>
                    <a href="./help.html">help</a>
                    <a href="./login.html" id="calltoaction">login</a>
                </ul>
                <div class="navbar">
                    <i class="fa-solid fa-bars"></i>
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </nav>
            <div class="sidenav">
                <ol>
                    <a href="./index.html"><i class="fa-solid fa-home"></i>home</a>
                    <a href="./login.html"><i class="fa-solid fa-unlock"></i>login</a>
                    <a href="./booking.html"><i class="fa-solid fa-book-bookmark"></i>book manual</a>
                    <a href="#"><i class="fa-solid fa-building-ngo"></i>about</a>
                    <a href="./help.html"><i class="fa-brands fa-accessible-icon"></i>help</a>
                </ol>
            </div>
        </header>

        <!-- article -->
        <article>
            <h2>Welcome to spectra lapbook-pro</h2>
            <p>Sign up to discover amazing experience.</p><br>

        </article>

        <!-- signup form -->
        <div class="booking-form">
            <h3>Signup Here</h3>
            <form action="">

                <div class="inputbox">
                    <i class="fa-solid fa-user-alt"></i> <label for="full-name">full name</label><br>
                    <input type="text" name="full-name" id="full-name">
                </div>
                <div class="inputbox">
                    <i class="fa-solid fa-envelope"></i> <label for="email">email address</label><br>
                    <input type="email" name="email" id="email">
                </div>
                <div class="inputbox">
                    <i class="fa-solid fa-building"></i> <label for="faculty">faculty</label><br>
                    <input type="text" name="faculty" id="faculty">
                </div>
                <div class="inputbox">
                    <i class="fa-solid fa-building"></i> <label for="department">department</label><br>
                    <input type="text" name="department" id="department">
                </div>
                <div class="inputbox">
                    <i class="fa-solid fa-pen"></i> <label for="reg-no">matric number</label><br>
                    <input type="text" name="reg-no" id="reg-no">
                </div>
                <div class="inputbox">
                    <i class="fa-solid fa-phone"></i> <label for="phone">phone number</label><br>
                    <input type="tel" name="phone" id="phone">
                </div>
                <div class="inputbox">
                    <i class="fa-solid fa-tag"></i> <label for="level">academic level</label><br>
                    <select name="level" id="">
                        <option value="100L">100L</option>
                        <option value="200L">200L</option>
                        <option value="300L">300L</option>
                        <option value="400L">400L</option>
                        <option value="500L">500L</option>
                        <option value="other">other</option>
                    </select>
                </div>
                <div class="inputbox">
                    <i class="fa-solid fa-lock"></i> <label for="password">password</label><br>
                    <input type="password" name="password" id="password">
                </div>
                <div class="inputbox">
                    <i class="fa-solid fa-lock"></i> <label for="password">confirm password</label><br>
                    <input type="password" name="cnf-password" id="cnf-password">
                </div>

                <div class="inputbox">
                    <input type="submit" value="signup" id="submit">
                </div>
                <div class="inputbox">
                    Already have an account? <a href="./login.html">sign in</a>
                </div>

            </form>
        </div>

        <!-- footer -->
        <footer>
            <div class="content">
                <div>
                    <h4>revserve now</h4>
                    <p>Modern booking solution for practical manual</p>
                </div>
                <div>
                    <h4>quick link</h4>
                    <ul class="ul">
                        <a href="#">home</a>
                        <a href="#">services</a>
                        <a href="#">pricing</a>
                        <a href="#">contact</a>
                    </ul>
                </div>
                <div>
                    <h4>contact us</h4>
                    <span><i class="fa-solid fa-envelope"></i><p>spectralapbookpro@gmail.com</p></span>
                    <span><i class="fa-solid fa-phone"></i><p>+2349063509119</p></span>
                </div>
            </div>
            <div class="linear">
                <p>&copy; 2025 reserve now all rights reserved.</p>
                <div class="media">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div>
        </footer>

    </main>
    
    <script src="../../public/script/header.js"></script>

</body>
</html>