<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../bootstrap5/css/all.css">
    <link rel="stylesheet" href="../../public/styles/user/chart.css">
</head>
<body>

    <div class="chart-container">
        <div class="chart">

            <i class="fa-solid fa-add"></i>
            <i class="fa-solid fa-book"></i>
            <p>available manuals</p>
            <h3>264</h3>
            <a href="./available-manual.html">view all</a>
        </div>
        <div class="chart">
            <i class="fa-solid fa-newspaper"></i>
            <p>approved request</p>
            <h3>204</h3>
            <a href="./approved-request.html">view all</a>
        </div>
        <div class="chart">
            <i class="fa-solid fa-recycle"></i>
            <p>pending request</p>
            <h3>60</h3>
            <a href="./pending-request.html">view all</a>
        </div>
    </div>
    
</body>
</html>