<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/styles/user/d-content.css">
</head>
<body>

    <div class="container">
        <div class="head">
            <h3>welcome ismail muhammad</h3>
            <div class="search">
                <form action="" method="post">
                    <input type="search" name="manual" id="search" placeholder="Use course code to search manual...">
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="content-box">

            <div class="content">
                <span>
                    <h3>recently added</h3>
                    <a href="#">view all</a>
                </span>
                <!-- manual -->
                <div class="item">
                    <div class="m-tittle">
                        <h4>csc 211</h4>
                        <p>computer programming 1</p>
                    </div>
                    <div class="b-btn">
                        <a href="#">request</a>
                    </div>
                </div>
                <!-- manual -->
                <!-- manual -->
                <div class="item">
                    <div class="m-tittle">
                        <h4>csc 211</h4>
                        <p>computer programming 1</p>
                    </div>
                    <div class="b-btn">
                        <a href="#">request</a>
                    </div>
                </div>
                <!-- manual -->
            </div>
            <div class="content">
                <span>
                    <h3>all manuals</h3>
                    <a href="#">view all</a>
                </span>
                <div class="item">
                    <div class="m-tittle">
                        <h4>csc 211</h4>
                        <p>computer programming 1</p>
                    </div>
                    <div class="b-btn">
                        <a href="#">request</a>
                    </div>
                </div>
            </div>
            <div class="content">
                <span>
                    <h3>approved requests</h3>
                    <a href="#">view all</a>
                </span>
                <div class="item">
                    <div class="m-tittle">
                        <h4>csc 211</h4>
                        <p>computer programming 1</p>
                    </div>
                    <div class="b-btn">
                        <a href="#">request</a>
                    </div>
                </div>
            </div>
            <div class="content pending-req">
                <span>
                    <h3>pending requests</h3>
                    <a href="#">view all</a>
                </span>
                <div class="item">
                    <div class="m-tittle">
                        <h4>csc 211</h4>
                        <p>computer programming 1</p>
                    </div>
                    <div class="b-btn">
                        <a href="#">request</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>