<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spectra lapbook-pro</title>
    <link rel="stylesheet" href="../../bootstrap5/css/all.css">
    <link rel="stylesheet" href="../../public/styles/user/header.css">
    <link rel="stylesheet" href="../../public/styles/user/dashboard-master.css">
    <link rel="stylesheet" href="../../public/styles/user/chart.css">
    <link rel="stylesheet" href="../../public/styles/user/d-content.css">
</head>
<body>

    <main>

        <div class="dashboard">
            <div class="side-nav">
                <!-- desktop nav bar -->
                <section>
                    <label for="logo" class="logo" id="logo"><a href="./dashboard.html">Spectra <span>lapbook pro</span></a></label>
                    <div class="menu">
                        <i class="fa-solid fa-bars" id="fa-bars"></i>
                        <i class="fa-solid fa-xmark" id="fa-xmark"></i>
                    </div>
                </section>

                <div class="nav">
                    <h3><i class="fa-solid fa-dashboard"></i>user dashboard</h3>
                    <ul>
                        <a href="./approved-request.html"><i class="fa-solid fa-newspaper"></i> approved request </a>
                        <a href="./pending-request.html"><i class="fa-solid fa-recycle"></i> pending request </a>
                        <a href="./available-manual.html"><i class="fa-solid fa-book"></i> available manuals </a>
                        <a href="./recently-added.html"><i class="fa-solid fa-book-bookmark"></i> recently added </a>
                        <a href="./help.html"><i class="fa-brands fa-accessible-icon"></i> need support </a>
                        <a href="./recently-added.html"><i class="fa-solid fa-user-edit"></i> edit profile </a>
                    </ul>
                </div>
                <!-- desktop nav bar -->

            </div>
            <div class="display-container" id="display">
                <!-- mobile nav bar -->
                <header>
                    <nav>
                        <label for="nav" class=".logo"><a href="./dashboard.html">Spectra <span>lapbook pro</span></a></label>
                        <div class="navbar">
                            <i class="fa-solid fa-bars" id="bars"></i>
                            <i class="fa-solid fa-xmark" id="xmark"></i>
                        </div>
                    </nav>
                    <div class="sidenav" id="sidenav">
                        <ol>
                            <a href="./approved-request.html"><i class="fa-solid fa-newspaper"></i> approved request </a>
                            <a href="./pending-request.html"><i class="fa-solid fa-recycle"></i> pending request </a>
                            <a href="./available-manual.html"><i class="fa-solid fa-book"></i> available manuals </a>
                            <a href="./recently-added.html"><i class="fa-solid fa-book-bookmark"></i> recently added </a>
                            <a href="./help.html"><i class="fa-brands fa-accessible-icon"></i> need support </a>
                            <a href="./recently-added.html"><i class="fa-solid fa-user-edit"></i> edit profile </a>
                        </ol>
                    </div>
                </header>
                <!-- mobile nav bar -->

                <!-- dashboard content -->
                <!-- dashboard content -->
                <div class="container">
                    <div class="head">
                        <h3>welcome ismail muhammad</h3>
                        <div class="search">
                            <form action="" method="post">
                                <input type="search" name="manual" id="search" placeholder="Use course code to search manual...">
                                <button type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                    <!-- chart -->
                    <div class="chart-container">
                        <div class="chart">
                            <i class="fa-solid fa-book"></i>
                            <p>available manuals</p>
                            <h3>264</h3>
                            <a href="./available-manual.html">view all</a>
                        </div>
                        <div class="chart">
                            <i class="fa-solid fa-newspaper"></i>
                            <p>approved request</p>
                            <h3>204</h3>
                            <a href="./approved-request.html">view all</a>
                        </div>
                        <div class="chart">
                            <i class="fa-solid fa-recycle"></i>
                            <p>pending request</p>
                            <h3>60</h3>
                            <a href="./pending-request.html">view all</a>
                        </div>
                    </div>
                    <!-- chart -->
                    <div class="content-box">
                        <div class="wrapper">
                            <span>
                                <h3>recently added</h3>
                                <a href="./recently-added.html">view all</a>
                            </span>
                            <div class="content">
                                
                                <!-- manual -->
                                <div class="item">
                                    <div class="m-tittle">
                                        <h4>csc 413 [ N2500 ]</h4>
                                        <p>algorithm complexity analysis</p>
                                    </div>
                                    <div class="b-btn">
                                        <a href="#">request</a>
                                    </div>
                                </div>
                                <!-- manual -->
                                <!-- manual -->
                                <div class="item">
                                    <div class="m-tittle">
                                        <h4>csc 413 [ N2500 ]</h4>
                                        <p>algorithm complexity analysis</p>
                                    </div>
                                    <div class="b-btn">
                                        <a href="#">request</a>
                                    </div>
                                </div>
                                <!-- manual -->
                                <!-- manual -->
                                <div class="item">
                                    <div class="m-tittle">
                                        <h4>csc 211 [ N2500 ]</h4>
                                        <p>computer programming 1</p>
                                    </div>
                                    <div class="b-btn">
                                        <a href="#">request</a>
                                    </div>
                                </div>
                                <!-- manual -->
                                <!-- manual -->
                                <div class="item">
                                    <div class="m-tittle">
                                        <h4>csc 211 [ N2500 ]</h4>
                                        <p>computer programming 1</p>
                                    </div>
                                    <div class="b-btn">
                                        <a href="#">request</a>
                                    </div>
                                </div>
                                <!-- manual -->
                            </div>
                        </div>
                        <div class="wrapper">
                            <span>
                                <h3>available manuals</h3>
                                <a href="./available-manual.html">view all</a>
                            </span>
                            <div class="content">
                                <!-- manual -->
                                <div class="item">
                                    <div class="m-tittle">
                                        <h4>csc 213 [ N2500 ]</h4>
                                        <p>operating system 1</p>
                                    </div>
                                    <div class="b-btn">
                                        <a href="#">request</a>
                                    </div>
                                </div>
                                <!-- manual -->
                                <!-- manual -->
                                <div class="item">
                                    <div class="m-tittle">
                                        <h4>csc 213 [ N2500 ]</h4>
                                        <p>operating system 1</p>
                                    </div>
                                    <div class="b-btn">
                                        <a href="#">request</a>
                                    </div>
                                </div>
                                <!-- manual -->
                                 <!-- manual -->
                                <div class="item">
                                    <div class="m-tittle">
                                        <h4>csc 211 [ N2500 ]</h4>
                                        <p>computer programming 1</p>
                                    </div>
                                    <div class="b-btn">
                                        <a href="#">request</a>
                                    </div>
                                </div>
                                <!-- manual -->
                                <!-- manual -->
                                <div class="item">
                                    <div class="m-tittle">
                                        <h4>csc 213 [ N2500 ]</h4>
                                        <p>operating system 1</p>
                                    </div>
                                    <div class="b-btn">
                                        <a href="#">request</a>
                                    </div>
                                </div>
                                <!-- manual -->
                            </div>
                        </div>
                        <div class="wrapper">
                            <span>
                                <h3>approved requests</h3>
                                <a href="./approved-request.html">view all</a>
                            </span>
                            <div class="content approve-req" >
                                <!-- manual -->
                                <div class="item">
                                    <div class="m-tittle">
                                        <h4>csc 213 [ N2500 ]</h4>
                                        <p>operating system 1</p>
                                    </div>
                                    <div class="b-btn">
                                        <a href="#" id="cancel">cancel</a>
                                    </div>
                                </div>
                                <!-- manual -->
                                <!-- manual -->
                                <div class="item">
                                    <div class="m-tittle">
                                        <h4>csc 213 [ N2500 ]</h4>
                                        <p>operating system 1</p>
                                    </div>
                                    <div class="b-btn">
                                        <a href="#" id="cancel">cancel</a>
                                    </div>
                                </div>
                                <!-- manual -->
                                 <!-- manual -->
                                <div class="item">
                                    <div class="m-tittle">
                                        <h4>csc 211 [ N2500 ]</h4>
                                        <p>computer programming 1</p>
                                    </div>
                                    <div class="b-btn">
                                        <a href="#" id="cancel">cancel</a>
                                    </div>
                                </div>
                                <!-- manual -->
                                <!-- manual -->
                                <div class="item">
                                    <div class="m-tittle">
                                        <h4>csc 213 [ N2500 ]</h4>
                                        <p>operating system 1</p>
                                    </div>
                                    <div class="b-btn">
                                        <a href="#" id="cancel">cancel</a>
                                    </div>
                                </div>
                                <!-- manual -->
                            </div>
                        </div>
                        <div class="wrapper">
                            <span>
                                <h3>pending requests</h3>
                                <a href="./pending-request.html">view all</a>
                            </span>
                            <div class="content pending-req">
                                <!-- manual -->
                                <div class="item">
                                    <div class="m-tittle">
                                        <h4>csc 213 [ N2500 ]</h4>
                                        <p>operating system 1</p>
                                    </div>
                                    <div class="b-btn">
                                        <p id="pending">pending...</p>
                                        <a href="#" id="cancel">cancel</a>
                                    </div>
                                </div>
                                <!-- manual -->
                                <!-- manual -->
                                <div class="item">
                                    <div class="m-tittle">
                                        <h4>csc 213 [ N2500 ]</h4>
                                        <p>operating system 1</p>
                                    </div>
                                    <div class="b-btn">
                                        <p id="pending">pending...</p>
                                        <a href="#" id="cancel">cancel</a>
                                    </div>
                                </div>
                                <!-- manual -->
                                 <!-- manual -->
                                <div class="item">
                                    <div class="m-tittle">
                                        <h4>csc 211 [ N2500 ]</h4>
                                        <p>computer programming 1</p>
                                    </div>
                                    <div class="b-btn">
                                        <p id="pending">pending...</p>
                                        <a href="#" id="cancel">cancel</a>
                                    </div>
                                </div>
                                <!-- manual -->
                                <!-- manual -->
                                <div class="item">
                                    <div class="m-tittle">
                                        <h4>csc 213 [ N2500 ]</h4>
                                        <p>operating system 1</p>
                                    </div>
                                    <div class="b-btn">
                                        <p id="pending">pending...</p>
                                        <a href="#" id="cancel">cancel</a>
                                    </div>
                                </div>
                                <!-- manual -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- dashboard content -->
                <!-- dashboard content -->

            </div>
        </div>

    </main>

    <script src="../../public/script/dashboard.js"></script>


</body>
</html>