<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spectra lapbook-pro</title>
    <link rel="stylesheet" href="../../bootstrap5/css/all.css">
    <link rel="stylesheet" href="../../public/styles/user/header.css">
</head>
<body>

    <header>
        <nav>
            <label for="nav" class=".logo"><a href="./index.html"><i class="fa-solid fa-book"></i> Spectra <span>lapbook pro</span></a></label>
            <ul>
                <a href="./index.html">home</a>
                <a href="./booking.html">book manual</a>
                <a href="#">about</a>
                <a href="./help.html">help</a>
                <a href="./login.html" id="calltoaction">login</a>
            </ul>
            <div class="navbar">
                <i class="fa-solid fa-bars"></i>
                <i class="fa-solid fa-xmark"></i>
            </div>
        </nav>
        <div class="sidenav">
            <ol>
                <a href="./index.html"><i class="fa-solid fa-home"></i>home</a>
                <a href="./login.html"><i class="fa-solid fa-unlock"></i>login</a>
                <a href="#"><i class="fa-solid fa-building-ngo"></i>about</a>
                <a href="./help.html"><i class="fa-brands fa-accessible-icon"></i>help</a>
                <a href="./booking.html"><i class="fa-solid fa-book-bookmark"></i>book manual</a>
            </ol>
        </div>
    </header>
    
    <script src="../../public/script/header.js"></script>
</body>
</html>