<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spectra lapbook-pro</title>
    <link rel="stylesheet" href="../../bootstrap5/css/all.css">
    <link rel="stylesheet" href="../../public/styles/user/header.css">
    <link rel="stylesheet" href="../../public/styles/user/article.css">
    <link rel="stylesheet" href="../../public/styles/user/cards.css">
    <link rel="stylesheet" href="../../public/styles/user/faq.css">
    <link rel="stylesheet" href="../../public/styles/user/footer.css">
</head>
<body>

    <main>
        
        <header>
            <nav>
                <label for="nav" class=".logo"><a href="./index.html">Spectra <span>lapbook pro</span></a></label>
                <ul>
                    <a href="./index.html">home</a>
                    <a href="./booking.html" id="calltoaction">book manual</a>
                    <a href="#">about</a>
                    <a href="./help.html">help</a>
                    <a href="./login.html">login</a>
                </ul>
                <div class="navbar">
                    <i class="fa-solid fa-bars"></i>
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </nav>
            <div class="sidenav">
                <ol>
                    <a href="./index.html"><i class="fa-solid fa-home"></i>home</a>
                    <a href="./login.html"><i class="fa-solid fa-unlock"></i>login</a>
                    <a href="./booking.html"><i class="fa-solid fa-book-bookmark"></i>book manual</a>
                    <a href="#"><i class="fa-solid fa-building-ngo"></i>about</a>
                    <a href="./help.html"><i class="fa-brands fa-accessible-icon"></i>help</a>
                </ol>
            </div>
        </header>

        <!-- article -->
        <article>
            <h2>we're here to help</h2>
            <p>Get assist with your bookings, account, or any other questions</p>
            <a href="./contact-form.html">contact us</a>
        </article>

        <!-- cards -->
         <div class="cards-container">
            <div class="wrapper">
                <div class="card">
                    <div class="icon"><i class="fa-solid fa-question-circle"></i></div>
                    <h3>FAQs</h3>
                    <p>Find answer to common questions about bookings, payments, and more.</p>
                    <button><a href="#">browse FAQs</a></button>
                </div>
                <div class="card">
                    <div class="icon"><i class="fa-solid fa-envelope"></i></div>
                    <h3>contact us</h3>
                    <p>Send us message and we'll get back to you as possible.</p>
                    <button><a href="./contact-form.html">contact form</a></button>
                </div>
                <div class="card">
                    <div class="icon"><i class="fa-solid fa-phone-alt"></i></div>
                    <h3>live support</h3>
                    <p>talk tomour customer support team in real-time for immediate help.</p>
                    <button><a href="#">start chart</a></button>
                </div>
            </div>
         </div>

         <!-- faq -->
          <div class="faq-conatainer">
            <h2>frequently asked questions</h2>
            <div class="faq">
                <details>
                    <summary>How do i make a booking?</summary>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia consequatur alias ea quo perspiciatis voluptatum sed modi. Placeat, impedit reiciendis, facere odio, non possimus quis eum architecto natus consectetur amet.</p>
                </details>
                <details>
                    <summary>Can i modify or cancel my booking?</summary>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia fuga voluptate beatae reiciendis iure maiores quaerat dolor delectus? Id similique totam tempora temporibus commodi iure nam quia consectetur doloremque aliquam.</p>
                </details>
                <details>
                    <summary>What payment methods do you accept?</summary>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non nostrum neque cum laboriosam voluptatibus numquam error amet eveniet harum quas odio perferendis quasi alias nisi iure perspiciatis sed, animi voluptatum?</p>
                </details>
            </div>
          </div>

          <footer>
            <div class="content">
                <div>
                    <h4>revserve now</h4>
                    <p>Modern booking solution for practical manual</p>
                </div>
                <div>
                    <h4>quick link</h4>
                    <ul>
                        <a href="#">home</a>
                        <a href="#">services</a>
                        <a href="#">pricing</a>
                        <a href="#">contact</a>
                    </ul>
                </div>
                <div>
                    <h4>contact us</h4>
                    <span><i class="fa-solid fa-envelope"></i><p>spectralapbookpro@gmail.com</p></span>
                    <span><i class="fa-solid fa-phone"></i><p>+2349063509119</p></span>
                </div>
            </div>
            <div class="linear">
                <p>&copy; 2025 reserve now all rights reserved.</p>
                <div class="media">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div>
        </footer>
        
    </main>
    

    <script src="../../public/script/header.js"></script>

</body>
</html>