<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spectra lapbook-pro</title>
    <link rel="stylesheet" href="../../bootstrap5/css/all.css">
    <link rel="stylesheet" href="../../public/styles/user/header.css">
    <link rel="stylesheet" href="../../public/styles/user/article.css">
    <link rel="stylesheet" href="../../public/styles/user/cards.css">
    <link rel="stylesheet" href="../../public/styles/user/footer.css">
</head>
<body>

    <main>

        <header>
            <nav>
                <label for="nav" class=".logo"><a href="./index.html">Spectra <span>lapbook pro</span></a></label>
                <ul>
                    <a href="./index.html">home</a>
                    <a href="./booking.html">book manual</a>
                    <a href="#">about</a>
                    <a href="./help.html">help</a>
                    <a href="./login.html" id="calltoaction">login</a>
                </ul>
                <div class="navbar">
                    <i class="fa-solid fa-bars"></i>
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </nav>
            <div class="sidenav">
                <ol>
                    <a href="./index.html"><i class="fa-solid fa-home"></i>home</a>
                    <a href="./login.html"><i class="fa-solid fa-unlock"></i>login</a>
                    <a href="./booking.html"><i class="fa-solid fa-book-bookmark"></i>book manual</a>
                    <a href="#"><i class="fa-solid fa-building-ngo"></i>about</a>
                    <a href="./help.html"><i class="fa-brands fa-accessible-icon"></i>help</a>
                </ol>
            </div>
        </header>

        <!-- article -->
        <article>
            <h2>book your practical manual effortlessly</h2>
            <p>Manage and reserve laboratory manuals for your practical sessions with just a few clicks</p>
            <a href="#">reserve now</a>
        </article>

        <!-- cards -->
        <div class="cards-container">
            <h3>How it works</h3>
            <div class="wrapper">
                <div class="card">
                    <div class="icon"><i class="fa-solid fa-book-open"></i></div>
                    <h3>browse manuals</h3>
                    <p>exlore our collection of available practical manuals and lab resources.</p>
                </div>
                <div class="card">
                    <div class="icon"><i class="fa-solid fa-peace"></i></div>
                    <h3>book slot</h3>
                    <p>choose your prefered date and time slot for your practical session.</p>
                </div>
                <div class="card">
                    <div class="icon"><i class="fa-solid fa-bolt"></i></div>
                    <h3>confirm booking</h3>
                    <p>Review and confirm your booking details instantly.</p>
                </div>
            </div>
         </div>

        <!-- footer -->
        <footer>
            <div class="content">
                <div>
                    <h4>revserve now</h4>
                    <p>Modern booking solution for practical manual</p>
                </div>
                <div>
                    <h4>quick link</h4>
                    <ul class="ul">
                        <a href="#">home</a>
                        <a href="#">services</a>
                        <a href="#">pricing</a>
                        <a href="#">contact</a>
                    </ul>
                </div>
                <div>
                    <h4>contact us</h4>
                    <span><i class="fa-solid fa-envelope"></i><p>spectralapbookpro@gmail.com</p></span>
                    <span><i class="fa-solid fa-phone"></i><p>+2349063509119</p></span>
                </div>
            </div>
            <div class="linear">
                <p>&copy; 2025 reserve now all rights reserved.</p>
                <div class="media">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div>
        </footer>

    </main>
    
    <script src="../../public/script/header.js"></script>
    
</body>
</html>