<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spectra lapbook-pro</title>
    <link rel="stylesheet" href="../../bootstrap5/css/all.css">
    <link rel="stylesheet" href="../../public/styles/user/header.css">
    <link rel="stylesheet" href="../../public/styles/user/login.css">
</head>
<body>


    <!-- page content -->
    <div class="container">
        <div class="left">
            <form action="">
                <h2>Reset password bellow.</h2>
                <p>use your registered email to reset password</p>
                <label for="email">email address</label>
                <div class="inputbox">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="inputbox">
                    <input type="submit" name="resetpass" value="reset password">
                </div>

                <div class="inputbox">
                    Remember the password? <a href="./signup.html">sign in</a>
                </div>

            </form>
        </div>
        <div class="right">
            <h2>discover amazing experience</h2>
            <p>Book your next adventure with our easy-to-use platform</p>
            <div class="quote">
                <i class="fa-solid fa-comments-dollar"></i>
                <p>"The best practical manual booking platform i've used, simple , fast, and reliable"</p>
                <div class="owner">
                    <img src="../../public/images/lady16.jpg" alt="">
                    <span><h4>ismail muhammad sani</h4><p>fulafia student</p></span>
                </div>
            </div>
        </div>
    </div>
    
    <script src="../../public/script/header.js"></script>
</body>
</html>