:root{
    --purple:rgb(111, 33, 238);
    --whitesmoke: rgb(231, 226, 226);
    --myfont: sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: white;
    font-family: var(--myfont);
}

main{
    width: 100%;
    height: 100vh;
}

/* article */
article{
    width: 100%;
    height: 400px;
    color: white;
    background-color: var(--purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    box-shadow: 0 0 10px 0 gray;
}

article h2{
    text-transform: capitalize;
    margin-bottom: 30px;
}

/* article media query */
@media (max-width:600px) {
    article{
        height: auto;
        margin-top: 70px;
        padding: 60px 20px;
        text-align: center;
    }
    article h2{
        font-size: 1.2rem;
    }
    article p{
        font-size: 1rem;
    }
}

.booking-form{
    width: 100%;
    height: auto;
    padding: 30px;
}
.booking-form h3{
    text-transform: capitalize;
}
.booking-form form{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    box-shadow: 0 0 5px 3px silver;
    margin-top: 10px;
}
.booking-form form .inputbox{
    grid-column: span 1;
}
.booking-form form .inputbox label{
    font-size: .9rem;
    font-weight: bold;
    text-transform: capitalize;
}
.booking-form form .inputbox input{
    width: 100%;
    height: 35px;
    padding-left: 20px;
    margin-top: 10px;
    border: 1px solid silver;
    border-radius: 4px;
}

.booking-form form .inputbox input[type="submit"]{
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    padding: 0;
    background-color: var(--purple);
    transition: .5s;
    border: none;
}
.booking-form form .inputbox input[type="submit"]:hover{
    color: var(--purple);
    background-color: white;
    box-shadow: 0 0 3px 2px silver;
}

/* booking media query */
@media (max-width:600px) {
    .booking-form{
        width: 100%;
        height: auto;
        padding: 30px 20px;
    }
    .booking-form h3{
        text-transform: capitalize;
    }
    .booking-form form{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 20px;
        padding: 20px;
        box-shadow: 0 0 5px 3px silver;
        margin-top: 10px;
    }
}

/* card container */
.cards-container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    column-gap: 30px;
    margin: 20px 0;
    padding: 0 30px;
}

.cards-container .card{
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px 3px silver;
}
.cards-container .card .icon{
    width: 60px;
    height: 60px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(170, 164, 250);
    border-radius: 50%;
    text-align: center;
    margin-bottom: 30px;
}
.cards-container .card i{
    color: var(--purple);
    font-size: 1.5rem;
}

.cards-container .card h3{
    text-transform: capitalize;
}
.cards-container .card p{
    margin: 20px 0;
    color: gray;
}

.cards-container .card button{
    border: none;
    background-color: var(--purple);
    padding: 10px;
    border-radius: 5px;
}
.cards-container .card button a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

.cards-container .card button:hover{
    opacity: .8;
}

/* card media query */
@media (max-width:600px){
    .cards-container{
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-between;
        row-gap: 20px;
        margin-top: 10px;
        padding: 10px 20px;
    }
    
    .cards-container .card{
        text-align: center;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 0 5px 3px silver;
    }
}