:root{
    --purple:rgb(111, 33, 238);
    --whitesmoke: rgb(231, 226, 226);
    --myfont: sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: white;
    font-family: var(--myfont);
}

main{
    width: 100%;
    height: 100vh;
}

/* card container */
.cards-container{
    width: 100%;
    height: auto;
    padding: 20px 30px;
}
.cards-container h3{
    text-transform: capitalize;
}
.cards-container .wrapper{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    column-gap: 30px;
    margin: 20px 0;
}

.cards-container .card{
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 2px silver;
}

.cards-container .card:hover{
    .icon{
        background-color: rgb(170, 164, 250);
    }
    i{
        transition: .5s;
        color: var(--purple);
    }
}

.cards-container .card .icon{
    width: 60px;
    height: 60px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    border-radius: 50%;
    text-align: center;
    margin-bottom: 30px;
    transition: .5s;
}

.cards-container .card i{
    color: white;
    font-size: 1.5rem;
}

.cards-container .card h3{
    text-transform: capitalize;
}
.cards-container .card p{
    margin: 20px;
    color: gray;
}

.cards-container .card button{
    border: none;
    background-color: var(--purple);
    padding: 10px;
    border-radius: 5px;
}
.cards-container .card button a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

.cards-container .card button:hover{
    opacity: .8;
}

/* card media query */
@media (max-width:600px){
    .cards-container{
        padding: 20px;
    }
    .cards-container .wrapper{
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-between;
        row-gap: 20px;
        margin-top: 10px;
        padding: 0;
    }
    
    .cards-container .card{
        height: auto;
        padding: 20px 10px;
    }
}