textarea{
    width: 100%;
    height: 200px;
    resize: none;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid silver;
}

@media (max-width:600px) {
    textarea{
        height: 120px;
    }
}