
:root{
    --purple:rgb(111, 33, 238);
    --whitesmoke: rgb(231, 226, 226);
    --myfont: sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: white;
    font-family: var(--myfont);
}

main{
    width: 100%;
    height: 100vh;
}

.dashboard{
    width: 100vw;
    height: 100%;
    display: flex;
   
}

.dashboard .side-nav{
    width: 20vw;
    height: 100%;
    background-color: var(--purple);
    padding: 10px;
    overflow: hidden;
    text-wrap: nowrap;
    transition: .5s;
}

.dashboard .side-nav section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.dashboard .side-nav section label{
    padding: 10px;
    border-radius: 3px;
    background-color: white;
    transition: .5s;
}

.dashboard .side-nav section label:hover{
    box-shadow: 0 0 3px 1px white inset;
    background-color: var(--purple);
    a{
        color: white;
    }
}

.dashboard .side-nav section label a{
    color: var(--purple);
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
}

.dashboard .side-nav section .menu{
    padding: 10px;
    color: var(--purple);
    background-color: white;
    border-radius: 3px;
    font-weight: bold;
}


.dashboard .side-nav .nav{
    margin-top: 20px;
}

.dashboard .side-nav .nav h3{
    color: white;
    padding: 10px;
    text-transform: capitalize;
    font-size: 1rem;
}

.dashboard .side-nav .nav ul{
    display: flex;
    flex-direction: column;
}

.dashboard .side-nav .nav ul a{
    color: white;
    padding: 10px;
    text-decoration: none;
    margin-top: 10px 0;
    text-transform: capitalize;
}

.dashboard .side-nav .nav ul a:hover{
    transition: .5s;
    color: var(--purple);
    background-color: white;
    border-radius: 3px;
}

.dashboard .side-nav .nav i{
    font-weight: bold;
    margin-right: 16px;
}



.dashboard .display-container{
    width: 80vw;
    height: 100%;
    background-color: white;
}

.dashboard .display-container header{
    display: none !important;
}

@media (max-width:600px) {

    .dashboard .side-nav{
        width: 0%;
    }
    .dashboard .side-nav{
        display: none !important;
    }
    .dashboard .display-container header{
        display: block !important;
    }
    .dashboard .display-container{
        width: 100%;
    }

}

@media (min-width:610px) and (max-width:1020px) {
    .dashboard .side-nav{
        padding: 10px 0px;
        text-wrap: wrap;
    }

    .dashboard .side-nav section{
        padding: 2px;
    }

    .dashboard .side-nav section label{
        padding: 0px;
    }
}