:root{
    --purple:rgb(111, 33, 238);
    --whitesmoke: rgb(231, 226, 226);
    --myfont: sans-serif;
    --valid: rgb(0, 226, 0);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: white;
    font-family: var(--myfont);
}

main{
    width: 100%;
    height: 100vh;
}

.bookings-container{
    width: 100%;
    height: auto;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 0 4px 1px gray;
}

.bookings-container h2{
    text-transform: capitalize;
}

.bookings-container .filters{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 0 3px 2px silver;
    margin: 20px 0;
}

.bookings-container .filters input,select{
    height: 100%;
    padding: 5px;
    text-transform: capitalize;
}

.bookings-container .filters button{
    color: white;
    background-color: var(--purple);
    padding: 5px 10px;
    border: none;
}

.bookings-container .table-container{
    width: 100%;
    height: auto;
    padding: 10px;
    box-shadow: 0 0 3px 2px silver;
    overflow-x: scroll;
    overflow-y: scroll;
}

.bookings-container .table-container table{
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

.bookings-container .table-container table th,td{
    text-transform: capitalize;
    border: 1px solid black;
    padding: 10px;
    text-wrap: nowrap;
}

.bookings-container .table-container table tr td select{
    color: white;
    background-color: var(--purple);
    width: 100%;
    option{
        color: black;
        background-color: white;
    }
}

.bookings-container .table-container table #suspend,#activate,#delete{
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.bookings-container .table-container table td:has(a){
    color: white;
    padding: 0%;
    text-align: center;
}
.bookings-container .table-container table td a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.bookings-container .table-container table #suspend{
    background-color: yellow;
}
.bookings-container .table-container table #activate{
    background-color: var(--valid);
}
.bookings-container .table-container table #delete{
    background-color: red;
}

@media (max-width:600px) {
    .bookings-container h2{
        font-size: 1.1rem;
    }

    .bookings-container .filters form{
        display: flex;
        justify-content: space-between;
    }

    .bookings-container .filters{
        width: 100%;
        gap: 10px;
        justify-content: space-between;
        flex-direction: column;
    }

    .bookings-container .filters input,select{
        height: 100%;
        width: 70%;
    }
    .bookings-container .filters button{
        width: 20%;
    }

    .bookings-container .table-container table{
        font-size: .9rem;
    }
    .bookings-container .table-container table th,td{
        padding: 5px 5px;
    }
}