<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spectra lapbook-pro</title>
    <link rel="stylesheet" href="../../bootstrap5/css/all.css">
    <link rel="stylesheet" href="../../public/styles/user/header.css">
    <link rel="stylesheet" href="../../public/styles/user/article.css">
    <link rel="stylesheet" href="../../public/styles/user/manual-cards.css">
    <link rel="stylesheet" href="../../public/styles/user/4cards.css">
    <link rel="stylesheet" href="../../public/styles/user/footer.css">
</head>
<body>

    <main>

        <header>
            <nav>
                <label for="nav" class=".logo"><a href="./index.html"><i class="fa-solid fa-book"></i> Spectra <span>lapbook pro</span></a></label>
                <ul>
                    <a href="./index.html">home</a>
                    <a href="./booking.html">book manual</a>
                    <a href="./about.html">about</a>
                    <a href="./help.html">help</a>
                    <a href="./login.html">login</a>
                </ul>
                <div class="navbar">
                    <i class="fa-solid fa-bars"></i>
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </nav>
            <div class="sidenav">
                <ol>
                    <a href="./index.html"><i class="fa-solid fa-home"></i>home</a>
                    <a href="./login.html"><i class="fa-solid fa-unlock"></i>login</a>
                    <a href="./about.html"><i class="fa-solid fa-building-ngo"></i>about</a>
                    <a href="./help.html"><i class="fa-brands fa-accessible-icon"></i>help</a>
                    <a href="./booking.html"><i class="fa-solid fa-book-bookmark"></i>book manual</a>
                </ol>
            </div>
        </header>

        <!-- article -->
        <article>
            <h2>book your perfect experience</h2>
            <p>Discover and reserve top services with just a few clicks</p>
        </article>

        <!-- recently-added -->
        <div class="recently-added">
            <h3>Recently Added</h3>
            <!-- manual cards -->
            <div class="container">
                <div class="manuals-grid">
                    <!-- Manual Card 1 -->
                    <div class="manual-card">
                        <div class="card-content">
                            <span class="course-code">CSC-411</span>
                            <h3 class="course-title">Software Engineering</h3>
                            <div class="price"> <i class="fa-solid fa-naira-sign"></i> 2,500</div>
                        </div>
                        <a href="./login.html" class="book-btn-container">
                            <button class="book-btn">Book</button>
                        </a>
                    </div>
                    
                    <!-- Manual Card 2 -->
                    <div class="manual-card">
                        <div class="card-content">
                            <span class="course-code">CSC-415</span>
                            <h3 class="course-title">Algorithm Complexity Analysis</h3>
                            <div class="price"> <i class="fa-solid fa-naira-sign"></i> 2,500</div>
                        </div>
                        <a href="./login.html" class="book-btn-container">
                            <button class="book-btn">Book</button>
                        </a>
                    </div>
                    
                    <!-- Manual Card 3 -->
                    <div class="manual-card">
                        <div class="card-content">
                            <span class="course-code">CSC-216</span>
                            <h3 class="course-title">Structured Programming</h3>
                            <div class="price"> <i class="fa-solid fa-naira-sign"></i> 2,500</div>
                        </div>
                        <a href="./login.html" class="book-btn-container">
                            <button class="book-btn">Book</button>
                        </a>
                    </div>
                    
                    <!-- Manual Card 4 -->
                    <div class="manual-card">
                        <div class="card-content">
                            <span class="course-code">CSC-212</span>
                            <h3 class="course-title">Data Structure And Algorithm</h3>
                            <div class="price"> <i class="fa-solid fa-naira-sign"></i> 2,500</div>
                        </div>
                        <a href="./login.html" class="book-btn-container">
                            <button class="book-btn">Book</button>
                        </a>
                    </div>
                    
                    <!-- Manual Card 5 -->
                    <div class="manual-card">
                        <div class="card-content">
                            <span class="course-code">CSC-315</span>
                            <h3 class="course-title">History Of Compiler Design</h3>
                            <div class="price"> <i class="fa-solid fa-naira-sign"></i> 2,500</div>
                        </div>
                        <a href="./login.html" class="book-btn-container">
                            <button class="book-btn">Book</button>
                        </a>
                    </div>
                    
                    <!-- Manual Card 6 -->
                    <div class="manual-card">
                        <div class="card-content">
                            <span class="course-code">CSC-317</span>
                            <h3 class="course-title">Structured Programming</h3>
                            <div class="price"> <i class="fa-solid fa-naira-sign"></i> 2,500</div>
                        </div>
                        <a href="./login.html" class="book-btn-container">
                            <button class="book-btn">Book</button>
                        </a>
                    </div>
                    
                    <!-- Manual Card 7 -->
                    <div class="manual-card">
                        <div class="card-content">
                            <span class="course-code">CSC-215</span>
                            <h3 class="course-title">Computer System</h3>
                            <div class="price"> <i class="fa-solid fa-naira-sign"></i> 2,500</div>
                        </div>
                        <a href="./login.html" class="book-btn-container">
                            <button class="book-btn">Book</button>
                        </a>
                    </div>
                    
                    <!-- Manual Card 8 -->
                    <div class="manual-card">
                        <div class="card-content">
                            <span class="course-code">CSC-213</span>
                            <h3 class="course-title">Operating System 1</h3>
                            <div class="price"> <i class="fa-solid fa-naira-sign"></i> 2,500</div>
                        </div>
                        <a href="./login.html" class="book-btn-container">
                            <button class="book-btn">Book</button>
                        </a>
                    </div>
        
                    <!-- Manual Card 9 -->
                    <div class="manual-card">
                        <div class="card-content">
                            <span class="course-code">CSC-221</span>
                            <h3 class="course-title">Computer Programming 2</h3>
                            <div class="price"> <i class="fa-solid fa-naira-sign"></i> 2,500</div>
                        </div>
                        <a href="./login.html" class="book-btn-container">
                            <button class="book-btn">Book</button>
                        </a>
                    </div>
                </div>
            </div>
            <!-- manual cards -->
        </div>

         <footer>
            <div class="content">
                <div>
                    <h4>revserve now</h4>
                    <p>Modern booking solution for practical manual</p>
                </div>
                <div>
                    <h4>quick link</h4>
                    <ul>
                        <a href="#">home</a>
                        <a href="#">services</a>
                        <a href="#">pricing</a>
                        <a href="#">contact</a>
                    </ul>
                </div>
                <div>
                    <h4>contact us</h4>
                    <span><i class="fa-solid fa-envelope"></i><p>spectralapbookpro@gmail.com</p></span>
                    <span><i class="fa-solid fa-phone"></i><p>+2349063509119</p></span>
                </div>
            </div>
            <div class="linear">
                <p>&copy; 2025 reserve now all rights reserved.</p>
                <div class="media">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div>
        </footer>

    </main>
    
    <script src="../../public/script/header.js"></script>
</body>
</html>