<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spectra lapbook-pro</title>
    <link rel="stylesheet" href="../../bootstrap5/css/all.css">
    <link rel="stylesheet" href="../../public/styles/user/footer.css">
</head>
<body>

    <footer>
        <div class="content">
            <div>
                <h4>revserve now</h4>
                <p>Modern booking solution for practical manual</p>
            </div>
            <div>
                <h4>quick link</h4>
                <ul class="ul">
                    <a href="#">home</a>
                    <a href="#">services</a>
                    <a href="#">pricing</a>
                    <a href="#">contact</a>
                </ul>
            </div>
            <div>
                <h4>contact us</h4>
                <span><i class="fa-solid fa-envelope"></i><p>spectralapbookpro@gmail.com</p></span>
                <span><i class="fa-solid fa-phone"></i><p>+2349063509119</p></span>
            </div>
        </div>
        <div class="linear">
            <p>&copy; 2025 reserve now all rights reserved.</p>
            <div class="media">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            </div>
        </div>
    </footer>
    
</body>
</html>